.form_main{
  width: 100%;
 
  height: 100vh;
  display: flex;
 
  justify-content: center;
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.form_div{
  margin-top: 20px;
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
  padding: 20px;
  
}
.form_div form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
 
 form .form_input{
  width: 100%;
}
form .form_input input{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 11px;
  border: none;
}

.btn{
  width: 200px;
  height: 40px;
  margin-top: 30px;
}

#email{
  border: 1px solid gray;
}

#password{
  border: 1px solid gray;
}